﻿@model InteriorDesignStudio.ViewModels.AdminStatisticsViewModel

@{
    ViewData["Title"] = "Admin Statistics";
}

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        function createBarChart(canvasId, labels, data, label) {
            var ctx = document.getElementById(canvasId).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: label,
                        data: data,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        createBarChart('serviceChart', @Html.Raw(Json.Serialize(Model.ServiceOrderCounts.Select(x => x.ServiceName))),
        @Html.Raw(Json.Serialize(Model.ServiceOrderCounts.Select(x => x.OrderCount))), 'Order Count');

        createBarChart('projectChart', @Html.Raw(Json.Serialize(Model.DailyProjectCounts.Select(x => x.Date))),
        @Html.Raw(Json.Serialize(Model.DailyProjectCounts.Select(x => x.ProjectCount))), 'Project Count');
    </script>
}

<div class="container mt-5">
    <h2 class="mb-4">Admin Statistics</h2>

    <div class="row">
        <div class="col-md-6">
            <h4>Service Order Counts</h4>
            <canvas id="serviceChart" width="400" height="400"></canvas>
        </div>

        <div class="col-md-6">
            <h4>Daily Project Counts</h4>
            <canvas id="projectChart" width="400" height="400"></canvas>
        </div>
    </div>

    <div class="mt-5">
        <h4>All Users</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Change Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.UserID</td>
                        <td>@($"{user.Name} {user.Surname}")</td>
                        <td>@user.Email</td>
                        <td>@user.UserType</td>

                        <td>
                            <form asp-action="ChangeUserRole" method="post">
                                <input type="hidden" name="userId" value="@user.UserID" />
                                <select name="newRole" class="form-control">
                                    <option value="Client" selected="@("Client" == user.UserType)">Client</option>
                                    <option value="Designer" selected="@("Designer" == user.UserType)">Designer</option>
                                    <option value="Admin" selected="@("Admin" == user.UserType)">Admin</option>
                                </select>
                                <button type="submit" class="btn btn-primary btn-sm mt-2">Change Role</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
