﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
    .hero {
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;
        text-align: center;
        color: black;
    }

        .hero::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

    .hero-content {
        z-index: 2;
    }
</style>

<section class="hero" style="background-image: url('https://media.designcafe.com/wp-content/uploads/2023/01/31151510/contemporary-interior-design-ideas-for-your-home.jpg'); background-size: cover; background-position: center;">
    <div class="container text-center text-black">
        <h1 class="display-4">Welcome to Your Interior Design Studio</h1>
        <p class="lead">Transforming Spaces, Creating Dreams</p>
        <a href="#" class="btn btn-primary btn-lg">Explore Our Services</a>
    </div>
</section>