﻿@model InteriorDesignStudio.ViewModels.OrderChangeStatusViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-4">Change Order Status</h2>

                    <form asp-action="ChangeStatus" method="post">
                        <input type="hidden" asp-for="OrderID" />

                        <div class="form-group">
                            <label asp-for="ProjectName" class="font-weight-bold">Project Name:</label>
                            <input asp-for="ProjectName" class="form-control" readonly />
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="font-weight-bold">Description:</label>
                            <textarea asp-for="Description" class="form-control" readonly></textarea>
                        </div>

                        <div class="form-group">
                            <label asp-for="SelectedStageID" class="font-weight-bold">Select Status:</label>
                            <select asp-for="SelectedStageID" asp-items="@Model.StageOptions" class="form-control"></select>
                        </div>

                        <button type="submit" class="btn btn-primary mt-3 w-100">Change Status</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
