﻿@model InteriorDesignStudio.ViewModels.OrderConfirmDeleteViewModel

<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Confirm Delete</h2>

            <p>Are you sure you want to delete the order?</p>

            <dl class="row">
                <dt class="col-sm-2">
                    <label asp-for="ProjectName" class="form-label">Project Name</label>
                </dt>
                <dd class="col-sm-10">
                    <p>@Model.ProjectName</p>
                </dd>

                <dt class="col-sm-2">
                    <label asp-for="Description" class="form-label">Description</label>
                </dt>
                <dd class="col-sm-10">
                    <p>@Model.Description</p>
                </dd>
            </dl>

            <form asp-action="Delete" asp-route-id="@Model.OrderID" method="post">
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Enter your password:</label>
                    <input type="password" class="form-control" asp-for="Password" required />
                </div>

                <button type="submit" class="btn btn-danger">Confirm Delete</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
