﻿@model InteriorDesignStudio.ViewModels.OrderCreateViewModel

<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Create Order</h2>

            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label for="ProjectName" class="form-label">Project Name</label>
                    <input asp-for="ProjectName" class="form-control" />
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <label for="SelectedServiceID" class="form-label">Service</label>
                    <select asp-for="SelectedServiceID" asp-items="@Model.ServiceOptions" class="form-control"></select>
                </div>

                <button type="submit" class="btn btn-primary">Create Order</button>
            </form>
        </div>
    </div>
</div>
