﻿@model InteriorDesignStudio.ViewModels.OrderUpdateViewModel

<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Edit Order</h2>

            <form asp-action="Edit">
                <input type="hidden" asp-for="OrderID" />

                <div class="mb-3">
                    <label for="ProjectName" class="form-label">Project Name</label>
                    <input asp-for="ProjectName" class="form-control" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="SelectedServiceID" class="form-label">Service</label>
                    <select asp-for="SelectedServiceID" asp-items="@Model.ServiceOptions" class="form-control"></select>
                    <span asp-validation-for="SelectedServiceID" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
