﻿@model IEnumerable<InteriorDesignStudio.Models.Domain.Order>

<div class="container">
    <h2>All Orders</h2>
    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var order in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Order ID: @order.OrderID</h5>
                            <p class="card-text">User: @order.User.Name</p>
                            <p class="card-text">Service: @order.Service.ServiceName</p>
                            <p class="card-text">Stage: @order.WorkflowStage.StageName</p>
                            <a href="@Url.Action("ChangeStatus", "Order", new { id = order.OrderID })" class="btn btn-primary">Change Status</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No orders available.</p>
    }
</div>

