﻿@model InteriorDesignStudio.ViewModels.WorkflowStageCreateViewModel

<h2>Create Workflow Stage</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="StageName">Stage Name</label>
        <input asp-for="StageName" class="form-control" />
        <span asp-validation-for="StageName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
