﻿@model InteriorDesignStudio.ViewModels.WorkflowStageDeleteViewModel

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Delete Workflow Stage</h2>
    </div>
    <div class="card-body">
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="StageID" />

            <div class="form-group">
                <label asp-for="StageName" class="font-weight-bold">Stage Name</label>
                <p class="fw-bold">@Model.StageName</p>
            </div>

            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
