﻿@model InteriorDesignStudio.ViewModels.WorkflowStageEditViewModel

<div class="card">
    <div class="card-header">
        <h2 class="card-title">Edit Workflow Stage</h2>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="StageID" />

            <div class="form-group">
                <label asp-for="StageName" class="font-weight-bold">Stage Name</label>
                <input asp-for="StageName" class="form-control" />
                <span asp-validation-for="StageName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-3 w-100">Update</button>
        </form>
    </div>
</div>
