﻿@model IEnumerable<InteriorDesignStudio.Models.Domain.WorkflowStage>


<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Workflow Stages</h2>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</div>

@if (Model != null && Model.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stage in Model)
                {
                    <tr>
                        <td>@stage.StageID</td>
                        <td>@stage.StageName</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@stage.StageID" class="btn btn-sm btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@stage.StageID" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No workflow stages available.</p>
}

