﻿@model InteriorDesignStudio.ViewModels.ServiceCreateViewModel

<div class="container">
    <h2>Create Service</h2>
    <div class="card">
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label for="ServiceName" class="form-label">Service Name</label>
                    <input asp-for="ServiceName" class="form-control" />
                    <span asp-validation-for="ServiceName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Cost" class="form-label">Cost</label>
                    <input asp-for="Cost" class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
