﻿@model InteriorDesignStudio.ViewModels.ServiceDeleteViewModel

<div class="container">
    <h2>Delete Service</h2>
    <div class="card">
        <div class="card-body">
            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="ServiceID" />

                <div class="mb-3">
                    <label for="ServiceName" class="form-label fw-bold">Service Name</label>
                    <p>@Model.ServiceName</p>
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label fw-bold">Description</label>
                    <p>@Model.Description</p>
                </div>

                <div class="mb-3">
                    <label for="Cost" class="form-label fw-bold">Cost</label>
                    <p>@Model.Cost</p>
                </div>

                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
