﻿@model InteriorDesignStudio.ViewModels.ServiceEditViewModel

<div class="container">
    <h2>Edit Service</h2>
    <div class="card">
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="ServiceID" />

                <div class="mb-3">
                    <label for="ServiceName" class="form-label fw-bold">Service Name</label>
                    <input asp-for="ServiceName" class="form-control" />
                    <span asp-validation-for="ServiceName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label fw-bold">Description</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Cost" class="form-label fw-bold">Cost</label>
                    <input asp-for="Cost" class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
