﻿@model IEnumerable<InteriorDesignStudio.Models.Domain.Service>
@using System.Security.Claims

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Services</h2>

        @if (User.FindFirstValue(ClaimTypes.Role) == "Admin")
        {
            <a href="@Url.Action("Create", "Service")" class="btn btn-primary">Add Service</a>
        }
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var service in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">@service.ServiceName</h5>
                            <p class="card-text">@service.Description</p>
                            <p class="card-text">Cost: @service.Cost</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @if (User.FindFirstValue(ClaimTypes.Role) == "Admin")
                                    {
                                        <a href="@Url.Action("Edit", "Service", new { id = service.ServiceID })" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a href="@Url.Action("Delete", "Service", new { id = service.ServiceID })" class="btn btn-sm btn-outline-danger">Delete</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>@ViewBag.Message</p>
    }
</div>
