﻿@model InteriorDesignStudio.ViewModels.ProjectCreateViewModel

<h2 class="text-center">Create Project</h2>

<div class="container">
    <div class="card">
        <div class="card-body">
            <form asp-action="Create" method="post" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="ProjectName" class="form-label">Project Name</label>
                    <input asp-for="ProjectName" class="form-control" id="ProjectName" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="CreationDate" class="form-label">Creation Date</label>
                    <input asp-for="CreationDate" type="date" class="form-control" id="CreationDate" />
                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" id="Description" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="ImageData" class="form-label">Image Data</label>
                    <input asp-for="ImageData" type="file" class="form-control" id="ImageData" />
                    <span asp-validation-for="ImageData" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Create Project</button>
                </div>

            </form>
        </div>
    </div>
</div>
