﻿@model InteriorDesignStudio.ViewModels.ProjectDeleteViewModel

<h2 class="text-center">Delete Project</h2>

<div class="container">
    <div class="card">
        <div class="card-body">

            <form asp-action="Delete" method="post">

                <input type="hidden" asp-for="ProjectID" />
                <input type="hidden" asp-for="UserID" />

                <div class="mb-3 text-center">
                    <img src="@Model.ImagePath" alt="Project Image" class="img-fluid mx-auto" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Project Name</label>
                    <p class="form-control">@Model.ProjectName</p>
                </div>

                <div class="mb-3">
                    <label class="form-label">Creation Date</label>
                    <p class="form-control">@Model.CreationDate.ToShortDateString()</p>
                </div>

                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <p class="form-control">@Model.Description</p>
                </div>

                <div class="mb-3">
                    <label class="form-label">Enter Your Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-danger">Delete Project</button>
                </div>

            </form>

        </div>
    </div>
</div>
