﻿@model InteriorDesignStudio.Models.Domain.Project
@using System.Security.Claims


<style>
    .project-details {
        margin-top: 20px;
    }

    .project-image {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .project-info {
        margin-top: 20px;
    }

    .comments-section {
        margin-top: 30px;
    }

    .comment-list {
        list-style: none;
        padding: 0;
    }

    .comment-item {
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
    }

    .comment-user {
        font-weight: bold;
    }

    .related-projects {
        margin-top: 30px;
    }

    .related-project-item {
        margin-bottom: 20px;
    }
</style>

<div class="container project-details">

    <h1 class="my-4">
        @Model.ProjectName
    </h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid project-image" src="@Model.ImagePath" alt="Project Image">
        </div>

        <div class="col-md-4 project-info">
            <h3 class="my-3">Project Description</h3>
            <p>@Model.Description</p>
            <h3 class="my-3">Project Details</h3>
            <ul>
                <li>Creation Date: @Model.CreationDate.ToShortDateString()</li>
                <li>User: @Model.User.Name @Model.User.Surname</li>
                <li>Email: @Model.User.Email</li>
            </ul>
        </div>

    </div>

    <div class="row comments-section">
        <div class="col-md-12">
            <h3 class="my-3">Comments:</h3>
            @if (Model.Comments != null && Model.Comments.Any())
            {
                <ul class="comment-list">
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex flex-start">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                         src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar" width="40"
                                         height="40" />
                                    <div class="w-100">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h6 class="text-primary fw-bold mb-0">
                                                @comment.User.Name @comment.User.Surname
                                                <span class="text-dark ms-2">@comment.CommentText</span>
                                            </h6>
                                            <p class="mb-0">@comment.CreationDate.ToShortDateString()</p>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="small mb-0" style="color: #aaa;">
                                                @if (comment.UserID == int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                                                {
                                                    <a asp-controller="Comment" asp-action="Delete" asp-route-Id="@comment.CommentID" class="link-grey">Remove</a>

                                                }
                                            </p>
                                            <div class="d-flex flex-row">
                                                <i class="fas fa-star text-warning me-2"></i>
                                                <i class="far fa-check-circle" style="color: #aaa;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </ul>
            }
            else
            {
                <p>No comments available.</p>
            }
            <a asp-controller="Comment" asp-action="Create" asp-route-projectId="@Model.ProjectID" class="btn btn-primary">Add a Comment</a>
        </div>
    </div>
</div>

