﻿@model InteriorDesignStudio.ViewModels.ProjectEditViewModel

<h2 class="text-center">Edit Project</h2>

<div class="container">
    <div class="card">
        <div class="card-body">

            <form asp-action="Edit" method="post">

                <input type="hidden" asp-for="ProjectID" />

                <div class="mb-3">
                    <label class="form-label">Project Name</label>
                    <input asp-for="ProjectName" class="form-control" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Creation Date</label>
                    <input asp-for="CreationDate" type="date" class="form-control" />
                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input asp-for="UserID" hidden class="form-control" />
                </div>

                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary">Update Project</button>
                </div>

            </form>

        </div>
    </div>
</div>


