﻿@model IEnumerable<InteriorDesignStudio.Models.Domain.Project>
@using System.Security.Claims

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>All Projects</h2>

        @if (User.FindFirstValue(ClaimTypes.Role) == "Admin")
        {
            <a href="@Url.Action("Create", "Project")" class="btn btn-primary">Add Project</a>
        }
    </div>
    <div class="row">
        @foreach (var project in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="@project.ImagePath" alt="Project Image">
                    <div class="card-body">
                        <h5 class="card-title">@project.ProjectName</h5>
                        <p class="card-text">@project.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="@Url.Action("Details", new { id = project.ProjectID })" class="btn btn-sm btn-outline-secondary">View Details</a>
                                @if (User.FindFirstValue(ClaimTypes.Role) == "Admin")
                                {
                                    <a href="@Url.Action("Edit", "Project", new { id = project.ProjectID })" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a href="@Url.Action("Delete", "Project", new { id = project.ProjectID })" class="btn btn-sm btn-outline-danger">Delete</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
