﻿@model InteriorDesignStudio.ViewModels.CommentCreateViewModel

<div class="container">
    <h2>Create Comment</h2>
    <div class="card">
        <div class="card-body">
            <form asp-action="Create" asp-controller="Comment" method="post">
                <input type="hidden" asp-for="ProjectID" />

                <div class="mb-3">
                    <label for="CommentText" class="form-label fw-bold">Comment Text</label>
                    <textarea asp-for="CommentText" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="CommentText" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
</div>

