﻿@model InteriorDesignStudio.ViewModels.CommentViewModel

<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Delete Comment</h2>

            <p class="card-text">Are you sure you want to delete this comment?</p>
            <p class="card-text"><strong>Comment:</strong> @Model.CommentText</p>

            <form asp-action="DeletePost" asp-controller="Comment" method="post">
                <input type="hidden" asp-for="CommentId" />
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Index" asp-controller="Project" class="btn btn-secondary ms-2">Cancel</a>
            </form>
        </div>
    </div>
</div>
