﻿@model InteriorDesignStudio.ViewModels.LoginViewModel

<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
    }

    .card {
        width: 400px;
        margin: 0 auto;
        margin-top: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #007bff;
        color: #fff;
        text-align: center;
    }
</style>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Login</h2>
        </div>
        <div class="card-body">
            <form asp-action="Login" method="post">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email" required />
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" name="Password" required />
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3 w-100">Login</button>
            </form>
        </div>
    </div>
</div>