﻿@model InteriorDesignStudio.Models.Domain.User
@using System.Security.Claims

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Profile</h2>
        <form asp-action="Logout" method="post">
            <button type="submit" class="btn btn-danger">Logout</button>
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Admin" asp-action="Index" class="btn btn-warning">Admin panel</a>
            }
        </form>
    </div>


    <div class="container">
        <div class="card mb-3 p-4">
            <div>
                <h3>Personal Information</h3>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Name:</strong> @Model.Name @Model.Surname</p>
                <p class="card-text"><strong>Email:</strong> @Model.Email</p>
                <p class="card-text"><strong>Phone:</strong> @Model.Phone</p>
                <p class="card-text"><strong>Address:</strong> @Model.Address</p>
            </div>
        </div>

        <hr />

        <h3>Comments:</h3>
        @if (Model.Comments != null && Model.Comments.Any())
        {
            @foreach (var comment in Model.Comments)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex flex-start">
                            <img class="rounded-circle shadow-1-strong me-3"
                                 src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="avatar" width="40"
                                 height="40" />
                            <div class="w-100">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h6 class="text-primary fw-bold mb-0">
                                        @comment.User.Name @comment.User.Surname
                                        <span class="text-dark ms-2">@comment.CommentText</span>
                                    </h6>
                                    <p class="mb-0">@comment.CreationDate.ToShortDateString()</p>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="small mb-0" style="color: #aaa;">
                                        @if (comment.UserID == int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                                        {
                                            <a asp-controller="Comment" asp-action="Delete" asp-route-Id="@comment.CommentID" class="link-grey">Remove</a>
                                            <a asp-controller="Project" asp-action="Details" asp-route-Id="@comment.ProjectID" class="link-grey">Go to comment</a>
                                        }
                                    </p>
                                    <div class="d-flex flex-row">
                                        <i class="fas fa-star text-warning me-2"></i>
                                        <i class="far fa-check-circle" style="color: #aaa;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No comments available.</p>
        }

        <hr />
        @if (User.IsInRole("Admin") || User.IsInRole("Designer"))
        {
            <h3>Projects:</h3>
            @if (Model.Projects != null && Model.Projects.Any())
            {
                <div id="projectCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @{
                            var projects = Model.Projects.ToList();
                            for (int i = 0; i < projects.Count; i += 3)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <div class="row">
                                        @for (int j = i; j < i + 3 && j < projects.Count; j++)
                                        {
                                            <div class="col-md-4">
                                                <div class="card" style="margin-bottom: 20px;">
                                                    <img src="@projects[j].ImagePath" class="card-img-top" alt="Project Image">
                                                    <div class="card-body">
                                                        <h5 class="card-title">@projects[j].ProjectName</h5>
                                                        <p class="card-text">@projects[j].Description</p>
                                                        <a href="@Url.Action("Details", "Project", new { id = projects[j].ProjectID })" class="btn btn-primary">View Details</a>
                                                        <a href="@Url.Action("Edit", "Project", new { id = projects[j].ProjectID })" class="btn btn-primary">Edit</a>
                                                        <a href="@Url.Action("Delete", "Project", new { id = projects[j].ProjectID })" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            }
            else
            {
                <p>No projects available.</p>
            }
        }

        <hr />

        <h3>My Orders:</h3>
        @if (Model.Orders != null && Model.Orders.Any())
        {
            <div id="orderCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @{
                        var orders = Model.Orders.ToList();
                        for (int i = 0; i < orders.Count; i += 3)
                        {
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <div class="row">
                                    @for (int j = i; j < i + 3 && j < orders.Count; j++)
                                    {
                                        <div class="col-md-4">
                                            <div class="card mb-4">
                                                <div class="card-body">
                                                    <h5 class="card-title">@orders[j].ProjectName</h5>
                                                    <p class="card-text">@orders[j].Description</p>
                                                    <p class="card-text"><strong>Order Date:</strong> @orders[j].OrderDate.ToShortDateString()</p>
                                                    <p class="card-text"><strong>Service:</strong> @(orders[j].Service != null ? orders[j].Service.ServiceName : "N/A")</p>
                                                    <p class="card-text"><strong>Stage:</strong> @orders[j].WorkflowStage.StageName</p>
                                                    <div class="mt-3">
                                                        <a asp-controller="Order" asp-action="Edit" asp-route-Id="@orders[j].OrderID" class="btn btn-primary">Update</a>
                                                        <a asp-controller="Order" asp-action="ConfirmDelete" asp-route-Id="@orders[j].OrderID" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
        else
        {
            <p>No orders available.</p>
        }
    </div>
</div>