﻿@model InteriorDesignStudio.Models.Domain.User


<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        width: 700px;
        margin: 0 auto;
        margin-top: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #007bff;
        color: #fff;
        text-align: center;
    }
</style>



<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Register</h2>
        </div>
        <div class="card-body">
            <form asp-action="Register" method="post">
                <div class="form-group">
                    <label for="FullName">Full Name</label>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="First Name" required />
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" id="Surname" name="Surname" placeholder="Last Name" required />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email" required />
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" name="Password" required />
                </div>
                <div class="form-group">
                    <label for="Phone">Phone</label>
                    <input type="text" class="form-control" id="Phone" name="Phone" />
                </div>
                <div class="form-group">
                    <label for="Address">Address</label>
                    <input type="text" class="form-control" id="Address" name="Address" />
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3 w-100">Register</button>
            </form>
        </div>
    </div>
</div>
